{% extends 'base.html' %} {% block content %}

<main>
  <div>
    <h1>Create a New List</h1>
    <form method="post">
      {% csrf_token %}
      <label for="name">List Name</label>
      <input type="text" id="name" name="name" />
      <button>Create</button>
    </form>
  </div>
</main>

{% endblock content %}
