{% extends 'base.html' %} {% block content %}

<main>
  <div>
    <h1>Are you sure you want to delete "{{todolist}}"?</h1>
    <form method="post">
      {% csrf_token %}
      <button>Delete</button>
    </form>
  </div>
</main>

{% endblock content %}
