{% extends 'base.html' %} {% block content %}

<main>
  <div>
    <h1>My Lists</h1>
    <p>
      <a href="{% url 'todo_list_create' %}">Create a New List</a>
    </p>
    <p>
      <a href="{% url 'todo_item_create' %}">Create a New Task</a>
    </p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Items</th>
        </tr>
      </thead>
      <tbody>
        {% for todolist in todolist_list %}
        <tr>
          <td>
            <a href="{% url 'todo_list_detail' todolist.pk %}"
              >{{todolist.name}}</a
            >
          </td>
          <td>{{ todolist.items.all | length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock content %}
