{% extends 'base.html' %} {% block content %}

<main>
  <div>
    <h1>Create a New Item</h1>
    <form method="post">
      {% csrf_token %} {{form.as_p}}
      <button>Create</button>
    </form>
  </div>
</main>

{% endblock content %} {% comment %}
<p>
  <label for="task">Task:</label>
  <input type="text" id="task" name="task" />
</p>
<p>
  <label for="date">Due Date:</label>
  <input type="date" id="date" name="date" />
</p>
<p>
  <label for="completed">Is completed:</label>
  <input type="checkbox" id="completed" name="completed" />
</p>
<p>
  <label for="select">List:</label>
  <select name="select" id="select">
    {% for todolist in todolist_list %}
    <option value="{{ todolist.id }}">{{ todolist.name }}</option>
    {% endfor %}
  </select>
</p>
{% endcomment %}
